<!DOCTYPE html>
<html>
<head>
  <title>Sources</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title sources
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / %link{:href => "http://yui.yahooapis.com/pure/0.2.1/pure-min.css", :rel => "stylesheet"}/
    / %link{:href => "/combo/1.4.3?/css/layouts/marketing.css", :rel => "stylesheet"}/
    / %script{:src => "http://use.typekit.net/ajf8ggy.js"}
  %body
    .content
      .header
        .pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
          %a.pure-menu-heading{:href => ""} Your Site
          %ul
            %li.pure-menu-selected
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Tour
            %li
              %a{:href => "#"} API
            %li
              %a{:href => "#"} Blog
            %li
              %a{:href => "#"} About
      .splash
        .pure-g-r
          .pure-u-1-3
            .l-box.splash-image
              %img{:alt => "Placeholder image for example.", :src => "http://placehold.it/500x350"}/
          .pure-u-2-3
            .l-box.splash-text
              %h1.splash-head
                Some big bold text.
              %h2.splash-subhead
                = yield
              %p
                %a.pure-button.primary-button{:href => "#"} Get Started
      .content
        .pure-g-r.content-ribbon
          .pure-u-2-3
            .l-box
              %h4.content-subhead Some small text
              %h3 Lorem ipsum dolor sit amet.
              %p
                Pellentesque hendrerit lobortis ornare. Fusce luctus imperdiet consequat. Nullam quis nunc quis ligula luctus vestibulum non quis libero. Suspendisse tristique nisl ut velit facilisis sit amet lobortis nulla pharetra.
          .pure-u-1-3
            .l-box
              %img{:alt => "Placeholder image for example.", :src => "http://placehold.it/400x250"}/
        .pure-g-r.content-ribbon
          .pure-u-1-3
            .l-box
              %img{:alt => "Placeholder image for example.", :src => "http://placehold.it/400x250"}/
          .pure-u-2-3
            .l-box
              %h4.content-subhead Some more small text
              %h3 Etiam iaculis iaculis lobortis.
              %p
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Morbi fermentum dui sit amet libero tincidunt rutrum. Nam sodales consequat metus sed accumsan.
        .pure-g-r
          .pure-u-1-4
            .l-box
              %h3 Subheading
              %p
                Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
          .pure-u-1-4
            .l-box
              %h3 Subheading
              %p
                Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
          .pure-u-1-4
            .l-box
              %h3 Subheading
              %p
                Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
          .pure-u-1-4
            .l-box
              %h3 Subheading
              %p
                Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
        .l-box.ribbon
          %h2 Get started now.
          %a.pure-button.primary-button{:href => "#"} Sign up
      .footer
        View the source of this layout to learn more. Made with love by the YUI Team.
    / %script{:src => "http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"}
    / :javascript
    /   YUI().use('node-base', 'node-event-delegate', function (Y) {
    /       // This just makes sure that the href="#" attached to the <a> elements
    /       // don't scroll you back up the page.
    /       Y.one('body').delegate('click', function (e) {
    /           e.preventDefault();
    /       }, 'a[href="#"]');
    /   });
